*{
    padding:0%;
    margin:auto;
    box-sizing: border-box;
}
html {
    font-size: 62, 5%;
    /*funciona como una unidad de medidad para el formato de la lestras y se asignan: 2rem, 3 rem, .. */
    padding:0%;
    margin:0%;
    box-sizing: border-box;
}

/*Variables*/
@import "variables";

/*---------MIXINS-----------*/
@mixin flexbox ($flex, $content, $items){
    display: $flex;
    justify-content: $content;
    align-items: $items;
}

/*----------BODY-------------------*/
body {
    font-family: 'Signika Negative', sans-serif;
    background-color:$colordeFondo;
}
/*-----------------INDEX--------------*/

/*-----Titulo-----------*/
@import "cabecera";

/*-----fila 1-----------*/
.fila1{
    @include flexbox(flex, center, center);
    background-color:#F55353;
    color: white;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-top: 40px;
    /*display: flex;
    justify-content: map-get($estilos,centro);
    text-align: map-get($estilos,centro);*/
    p{
        @include flexbox(flex, center, center);
        /*display: flex;
        justify-content: map-get($estilos,centro);
        text-align: map-get($estilos,centro);*/
        flex-direction: map-get($estilos,columna);
        color: white;
        font-size: 42px;
        padding-top: 30px;
        /*padding-left: 30px;
        padding-right: ;*/
    }
}

/*-----fila2-----------*/
.fila2{
    /*fondo*/
    background-image:url("../multi/img5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 0%;
    margin: 0%;
    padding-top:95px;
    padding-bottom: 95px;
    filter: grayscale(55%);
  
    p{
        @include flexbox(flex, center, center);
        /*display: flex;
        justify-content: map-get($estilos,centro);
        text-align: map-get($estilos,centro);*/
        color: white;
        font-size: 42px;
    }
}


/*-----fila 3-----------*/
.fila3{
    background-color:white ;
    color: black;
    padding: 0%;

    p{
        @include flexbox(flex, center, center);
        /*display: flex;
        justify-content: map-get($estilos,centro);
        text-align: map-get($estilos,centro);*/
        padding-top:15px;
        font-size: 42px;
    }
}

/*-----footer-----------*/
.footer{
    display: flex;
    justify-content: center;
    text-align:center;
    background-color: $colorfooter;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: auto;
    border: 0%;

    button{
        width: 5%;}        
}
/*------------------DESTINOS---------------*/
.destino{
    @include flexbox(flex, center, center);
    /*display: flex;
    justify-content: map-get($estilos,centro);
    align-items: map-get($estilos,centro);*/
    flex-direction: map-get($estilos,columna);
    padding-top: 20px;
    padding-bottom: 5px;

    h2{
        font-weight: bold;
    }
    p{
        padding-top: 20px;
    }
}

/*-------VIDEO--------*/
/*-INDEX Y DESTINOS-*/
.video{
    @include flexbox(flex, center, center);
    /*display: flex;
    justify-content: map-get($estilos,centro);*/
    @extend .espacio;
}

/*-------Contacto--------*/
.subtitulo{
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}
.contac{
    padding: 5px 10%;
    text-align: center;
}

.formulario {
    margin: 20px;
    background-attachment: fixed;
    background-color: #E74C3C;
    box-sizing: border-box;
    border-radius: 7px;
    text-align: center;
    padding: 30px;
}

input, textarea {
    width: 100%;
    margin-bottom: 18px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

textarea {
    min-height: 100px;
    min-width: 200px;
}

/*---Animaciones---*/
@import "animaciones";

/*---MEDIA QUERY---*/
@import "mediaquery";

