*{
    padding:0%;
    margin:auto;
    box-sizing: border-box;
}
html {
    font-size: 62, 5%;
    /*funciona como una unidad de medidad para el formato de la lestras y se asignan: 2rem, 3 rem, .. */
    padding:0%;
    margin:0%;
    box-sizing: border-box;
}
@import "variables";
body {
    font-family: 'Signika Negative', sans-serif;
    background-color:$colordeFondo;
}
/*-----------------INDEX--------------*/

/*-----Titulo-----------*/
@import "cabecera";
/*-----fila 1-----------*/
.fila1{
    background-color:#F55353;
    color: white;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;

    p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 42px;
        padding-top: 30px;
        /*padding-left: 30px;
        padding-right: ;*/
    }
}

/*-----fila2-----------*/
.fila2{
    /*fondo*/
    background-image:url("../multi/img5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border: 0%;
    margin: 0%;
    padding-top:95px;
    padding-bottom: 95px;
    filter: grayscale(55%);
  
    p{
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 42px;
    }
}


/*-----fila 3-----------*/
.fila3{
    background-color:white ;
    color: black;
    padding: 0%;

    p{
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top:15px;
        font-size: 42px;
    }
}

/*-----footer-----------*/
.footer{
    background-color: $colorfooter;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: auto;
    border: 0%;
}
/*------------------DESTINOS---------------*/
.destino{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 5px;

    h2{
        font-weight: bold;
    }
    p{
        padding-top: 20px;
    }
}

/*-------VIDEO--------*/
/*-INDEX Y DESTINOS-*/
.video{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 25px;
}


/*---Animaciones---*/
@import "animaciones";

/*---MEDIA QUERY---*/
@import "mediaquery";

