* {
  padding: 0%;
  margin: auto;
  box-sizing: border-box; }

html {
  font-size: 62, 5%;
  /*funciona como una unidad de medidad para el formato de la lestras y se asignan: 2rem, 3 rem, .. */
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

/*Variables*/
/*------MAP--------------*/
.btn--wp {
  background-color: #B4FF9F; }

.btn--fb {
  background-color: #4B7BE5; }

.btn--ig {
  background-color: #D77FA1; }

.btn--gmail {
  background-color: #E04D01; }

/*---------MAP GET-----------*/
/*---------EXTENDED-----------*/
.espacio, .video {
  padding-top: 20px;
  padding-bottom: 25px; }

/*---------MIXINS-----------*/
.fila1 {
  display: flex;
  justify-content: center;
  align-items: center; }

/*---------MIXINS-----------*/
/*----------BODY-------------------*/
body {
  font-family: 'Signika Negative', sans-serif;
  background-color: #F4EEFF; }

/*-----------------INDEX--------------*/
/*-----Titulo-----------*/
/*-----Cabecera-----------*/
.titulo {
  background: radial-gradient(circle, #e66f28 0%, #155263 0%, #0b2e37 74%, #031216 99%);
  color: white;
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 65px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0%;
  font-weight: bold; }

/*-----fila 1-----------*/
.fila1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F55353;
  color: white;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-top: 40px;
  /*display: flex;
    justify-content: map-get($estilos,centro);
    text-align: map-get($estilos,centro);*/ }
  .fila1 p {
    display: flex;
    justify-content: center;
    align-items: center;
    /*display: flex;
        justify-content: map-get($estilos,centro);
        text-align: map-get($estilos,centro);*/
    flex-direction: column;
    color: white;
    font-size: 42px;
    padding-top: 30px;
    /*padding-left: 30px;
        padding-right: ;*/ }

/*-----fila2-----------*/
.fila2 {
  /*fondo*/
  background-image: url("../multi/img5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border: 0%;
  margin: 0%;
  padding-top: 95px;
  padding-bottom: 95px;
  filter: grayscale(55%); }
  .fila2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    /*display: flex;
        justify-content: map-get($estilos,centro);
        text-align: map-get($estilos,centro);*/
    color: white;
    font-size: 42px; }

/*-----fila 3-----------*/
.fila3 {
  background-color: white;
  color: black;
  padding: 0%; }
  .fila3 p {
    display: flex;
    justify-content: center;
    align-items: center;
    /*display: flex;
        justify-content: map-get($estilos,centro);
        text-align: map-get($estilos,centro);*/
    padding-top: 15px;
    font-size: 42px; }

/*-----footer-----------*/
.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #155263;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: auto;
  border: 0%; }
  .footer button {
    width: 5%; }

/*------------------DESTINOS---------------*/
.destino {
  display: flex;
  justify-content: center;
  align-items: center;
  /*display: flex;
    justify-content: map-get($estilos,centro);
    align-items: map-get($estilos,centro);*/
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 5px; }
  .destino h2 {
    font-weight: bold; }
  .destino p {
    padding-top: 20px; }

/*-------VIDEO--------*/
/*-INDEX Y DESTINOS-*/
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  /*display: flex;
    justify-content: map-get($estilos,centro);*/ }

/*---Animaciones---*/
/*-INDEX-*/
.fila1 img {
  transition: all 2s; }
  .fila1 img:hover {
    transform: scale(1.1); }

/*-DESTINOS-*/
.destino img {
  transition: all 2s; }
  .destino img:hover {
    transform: scale(1.1); }

/*---MEDIA QUERY---*/
/*-INDEX-*/
@media (max-width: 575px) {
  .fila2 p {
    color: black; } }

@media (min-width: 576px) and (max-width: 768px) {
  .fila2 p {
    color: black; } }
